<h1>Function call on button click</h1>
<button (click)="handleClickEvent()">Click Me</button>   <!-- here click is calling the function i.e handleClickEvent-->

<!-- add fuction with assign data type and button -->
 <button (click)="sum(2,5)">Sum</button>

 

 <!--making counter app in Angular , making button for increment decrement and reset  -->

 
 <div style="text-align: center;">
  <h1>Counter App</h1>
      <h2 class="count">{{count}}</h2>
      <div>
        <button (click)="handleCounter('minus')"  class="btn bg-red">decrement</button>
        <button (click)="handleCounter('reset')"  class="btn bg-black">Reset</button>
        <button (click)="handleCounter('plus')" class="btn bg-green">increment</button>
      </div>
 </div>