<!-- here click is calling the function i.e handleClickEvent-->

            <h1>Function call on button click</h1>
            <button (click)="handleClickEvent()">Click Me</button>   

<!-- add fuction with assign data type and button -->  


              <button (click)="sum(2,5)">Sum</button>

 

 <!--making counter app in Angular , making button for increment decrement and reset  -->

 
              <div style="text-align: center; background-color: aqua;">
                <h1>Counter App</h1>
                    <h2 class="count">{{count}}</h2>
                    <div>
                      <button (click)="handleCounter('minus')"  class="btn bg-red">decrement</button>
                      <button (click)="handleCounter('reset')"  class="btn bg-black">Reset</button>
                      <button (click)="handleCounter('plus')" class="btn bg-green">increment</button>
                    </div>
              </div>

 <!-- click input mouse focus and blue events -->

            <div style="background-color: chartreuse;">
              <h1>Event in Angular</h1>
              <h3>click input mouse focus and blue events</h3>

        <!-- click Event -->
              <button class="avinash" name="login" (click)="handleEvent($event)">Click Event</button>
              
        <!-- mouseenter event -->
            <div
            (mouseenter)="handleEvent($event)"
            style="background-color: green; height: 100px; width: 100px;">
            
              
            </div>
        <!-- mouseleave event -->
            <div
            (mouseleave)="handleEvent($event)"
            style="background-color: rgb(0, 0, 128); height: 100px; width: 100px;">
            
              
            </div>

        <!-- Input Event   -->
          
            <input type="text"
            (input)="handleEvent($event)"
            name="user">

  </div>
<!--GET and Set Input field Value  -->

          <div style="background-color: aqua;">
            <h1>GET and Set Input field Value</h1>
            <h1>User Name is : {{displayInfo}}</h1>
            <input type="text" value="{{info}}" (input)="getInfo($event)" placeholder="Enter User name">
            <br>
            <button (click)="showInfo()">Get Name</button>
            <button (click)="setInfo()">set Name</button>
            
            <hr>
            <h1>Email :{{email}}</h1>
            <input type="text" value="{{email}}" placeholder="enter email" #emailField>
            <button (click)="getEmail(emailField.value)">Get Email</button>
            <button (click)="setEmail(emailField.value)">Set Email</button>

          </div>

<!-- style option in angular -->
 <!-- which include
  component style 
  global style
  make new file for global style
  internal style
  style in components.ts file
  load multiple css file in component -->

  <!-- work is done in home components check it out -->

  <app-home></app-home>


<!-- IF ELSE in Angular | hide show | toggle  -->

         <div class="if-else">
              <button (click)="showBox()">Show-Box</button>
              <button (click)="hideBox()">Hide-Box</button>

              @if(isBoxVisible){
                <div class="green-box">
                  <h1>hi</h1>
                </div>
              }@else{
                <P>box is hidden, click on show box to see box</P>
              }
         </div>

<!-- Else If condition |control flow statement -->
          
          <div class="background"> 
            <h1>Else If condition</h1> 
            @if(color==1){
              <div style="background-color: red; width: 100px; height: 100px;"></div>
            }
            @else if(color==2){
              <div style="background-color: blue; width: 100px; height: 100px;"></div>
            }
            @else if(color==3){
              <div style="background-color: green; width: 100px; height: 100px;"></div>
            }
            @else{
              <div style="background-color: black; width: 100px; height: 100px;"></div>
            }
            <button (click)="handlecolor(1)">red</button>
            <button (click)="handlecolor(2)">blue</button>
            <button (click)="handlecolor(3)">green</button>
            <button (click)="handlecolor(100)">other</button>
            <input (input)=" handleInput($event)"type="text" placeholder="give color num">
            
          </div> 
          
<!-- switch case in angular -->

          <div class="bgcolor">
            <h1>Switch statement</h1> 

            @switch(colour){
              @case('red'){
                <h1 style="background-color: red; color: aliceblue;">RED</h1>
              }
              @case('blue'){
                <h1 style="background-color: blue; color: aliceblue;">BLUE</h1>
              }
              @case('green'){
                <h1 style="background-color:green; color: aliceblue;">GREEN</h1>
              }
              @case('yellow'){
                <h1 style="background-color: yellow; color: grey;">YELLOW</h1>
              }@default{
                <h1 style="color: white; background-color:black;">no color match</h1>
              }
            }
            <button (click)="handlecolour('red')">Red</button>
            <button (click)="handlecolour('blue')">blue</button>
            <button (click)="handlecolour('green')">green</button>
            <button (click)="handlecolour('yellow')">yellow</button>
            <button (click)="handlecolour('white')">gold</button>
          </div>


